* {
  font-family: sans-serif;
  color: rgb(16, 16, 16);
}

body {
  margin: 0;
  background-color: rgb(249,249,249);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 500;
}

a {
  color: rgb(35,91,246);
}
a:hover {
  text-decoration: none;
}

h2 {
  margin-bottom: 64px;
  font-size: 32px;
}

.para {
  line-height: 1.4;
  font-size: 16px;
  margin-bottom: 24px;
  color: rgb(80, 80, 80);

  max-width: 540px;
}

.header {
  margin-bottom: 42px;

  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 12px 0px rgba(200, 200, 200, 1);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px 32px;

  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 24px;

  box-sizing: border-box;
}

.nav-list {
  display: flex;
  gap: 16px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-button {
  padding: 0;

  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 600;
  color: #A1A4B0;
}
.nav-button:hover {
  color: rgb(16, 16, 16);
  cursor: pointer;
}
.nav-button--active {
  color: rgb(16, 16, 16);
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 32px 128px;

  min-height: 100vh;

  box-sizing: border-box;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
  margin: 0;
  padding: 0;

  list-style: none;
}

.project {
  display: flex;
  flex-direction: column;

  padding: 16px;

  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0px 0px 12px 0px rgba(200, 200, 200, 1);
}

.thumbnail {
  display: block;
  width: 100%;
  height: 260px;

  margin-bottom: 20px;
}

.thumbnail__image {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-grow: 1;
}

.technologies {
  margin: 4px 0 16px;
  font-size: 14px;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 16px;

  background-color: rgb(35,91,246);
  color: rgb(255, 255, 255);
  border-radius: 30px;
  text-decoration: none;
  font-size: 14px;
}
.button:hover {
  opacity: 0.9;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;

  background-color: rgb(255, 255, 255);
  font-size: 14px;
  box-shadow: 0px 0px 12px 0px rgba(200, 200, 200, 1);
}

.tech-list {
  display: flex;
  justify-content: center;
  gap: 48px;
  flex-wrap: wrap;
  
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.icons-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  margin-bottom: 16px;
}

.icon {
  display: block;
  width: 64px;
  height: 64px;
}

@media(min-width: 800px) {
  .projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@media(min-width: 1240px) {
  .projects-list {
    grid-template-columns: repeat(3, 1fr);
  }
}